:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150vh;
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 2% 0;
}
.container-box {
  width: 350px;
  padding: 0 1.5rem;
}
h2 {
  text-align: center;
  font-weight: 550;
  margin-bottom: 1.7rem;
  font-size: 20px;
  color: #059e45;
}
h4 {
  font-weight: 550;
  font-size: 14px;
  padding-bottom: 10px;
}

h1 {
  font-weight: 550;
  font-size: 27px;
  margin-bottom: 1rem;
}
.incomeexpense {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  vertical-align: middle;
  padding: 12px 54px;
  height: 12vh;
  background: #fff;
  box-shadow: var(--box-shadow);
}
.incomeexpense h4 {
  font-size: 12px;
  text-align: center;
}
.incomeexpense h2 {
  font-size: 18px;
}
.plus {
  color: #2ecc71;
}
.minus {
  color: #c0392b;
}
h3 {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  margin: 40px 0 10px;
  font-weight: 550;
}
label {
  font-size: 12px;
  font-weight: 520;
}
input {
  width: 100%;
  padding: 0.3rem;
  border: 0;
  outline: 0;
  margin: 0.3rem 0;
}
.btn {
  margin-top: 0.7rem;
  padding: 0.3rem;
  border: 0;
  width: 100%;
  background-color: #9c88ff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1.2rem;
}
.list {
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}
.deletebtn {
  position: absolute;
  top: 26%;
  right: -35px;
  color: #fff;
  padding: 2px 6px;
  line-height: 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  transform: (-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list li:hover .deletebtn {
  opacity: 1;
}
